.calendar__header {
	display: flex;
	flex-direction: row;
}

.header__cell {
	flex: 1;
	display: flex;
	background-color: #444;
	font-size: 20px;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
	padding: 10px 0;

	&--time {
		display: flex;
		width: 100px;
		background-color: #444;
		font-size: 20px;
		align-items: center;
		justify-content: center;
		color: white;
		font-weight: bold;
		padding: 10px 0;
	}
}
