.timeFrameCell {
	flex: 1;
	justify-content: center;
	display: flex;
	padding: 1px 1px;

	&__status{
		background-color: whitesmoke;
		flex: 1;

		&:hover {
			cursor: pointer;
			background-color: darken(whitesmoke, 5%);
		}

		&--active {
			background-color: #3A3;
			flex: 1;
			&:hover {
				cursor: pointer;
				background-color: darken(#3A3, 5%);
			}
		}
		&--locked {
			background-color: red;
			flex: 1;
			&:hover {
				cursor: pointer;
				background-color: darken(red, 5%);
			}
		}

	}
}