.timesColumn {
	width: 100px;
	display: flex;
	flex-direction: column;
	min-width: 100px;

	&__cell {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		flex: 1;
		font-size: 12px;
		padding: 2px 1px 0px 0px;
		background-color: white;
	}
}
